In [1]:
import pandas as pd
import os
import numpy as np
import requests

In [2]:
from dotenv import load_dotenv  #loading keys as enviorment variables to use as 
load_dotenv()

True

In [3]:
os.environ.get("YELP_KEY")

'hVKpD9jm3UqfGbwwaz93KBpJ490b3sjPf9B21J-yew115Ayp1Gt8CSigc5l_kQglRTt4244RPIbeq9HJvMKJ__b4t8oJHOz14OsEFimLPK_3NNdsNUw3aR1LHEbsYnYx'

# Foursquare

Send a request to Foursquare with a small radius (1000m) with the location of your choice

In [4]:
ll = "43.433650,-79.735260"  #location long/lat i am using, can modify for any position

url = "https://api.foursquare.com/v3/places/search?ll=" + ll + "&radius=10000&categories=13003&limit=50"  
# Pulling data at my long/lat with a radius of 10k meters with the max limit of 50 pulls, also using bars as a category


headers = {
    "Accept": "application/json",
    "Authorization": os.environ.get("four_square_key")  #API key to allow the pull
}

response = requests.get(url, headers=headers)

fv = response.json()  #Convert response to json format for parsing

In [5]:
len(fv['results'])

47

Parse through the response to get the POI details you want (rating, name, location, etc)

In [6]:
name_list = []   #Creating an emppty list to place values into
for n in range(len(fv['results'])):   #Using loop to pull names of the 50 places pulled and placing them into a list
    nam = fv['results'][n]['name']
    name_list.append(nam)

In [7]:
len(name_list)  #Verifying the length of the list

47

In [8]:
add_list = []   #Creating an emppty list to place values into
for a in range(len(fv['results'])):   #Pulling adress of the places pulled and placing them into a list
    add = fv['results'][a]['location']['address']
    add_list.append(add)

In [9]:
len(add_list)   #Verifying the length of the list

47

In [10]:
ratings_list = []   #Creating an emppty list to place values into

for ratings in range(len(fv['results'])):   #Using a loop to pull the rating of each place with changing url for the API
    fsid = fv['results'][ratings]['fsq_id']   #fsq_id is needed to pull rating data so defining 
    url = "https://api.foursquare.com/v3/places/"+fsid+"?fields=rating"   #Defining a changable url that will change with each loop iteration 


    headers = {
    "Accept": "application/json",
    "Authorization":  os.environ.get("four_square_key")
    }

    response = requests.get(url, headers=headers)
    rat = response.json()
    try:   #Using try and except to catch when a rating does not get returned and return nan value in place
        rat_num = rat["rating"]
    except KeyError:
        rat_num = -1   #Assigning values with no rating a -1 as using np.nan or None break the ordering once placed into SQLite
        ratings_list.append(rat_num)
        continue
    ratings_list.append(rat_num)   #appending each iteration into a list

In [11]:
len(ratings_list)   #Verifying the length of the list

47

In [12]:
ratings_list

[8.6,
 8.6,
 8.2,
 8.4,
 7.9,
 8.2,
 7.8,
 8.2,
 7.6,
 7.8,
 7.5,
 7.2,
 7.2,
 6.9,
 6.6,
 6.7,
 6.8,
 6.6,
 6.3,
 5.9,
 6.2,
 -1,
 6.1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 4.9,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1]

Put your parsed results into a DataFrame

In [13]:
FourSquarePlaces = pd.DataFrame(np.column_stack([name_list, add_list , ratings_list]), #Combinging the pulled lists from before into 1 dataframe
                               columns=['Name of place', 'Adress of place' , 'Ratings'])

In [14]:
FourSquarePlaces

                         Name of place         Adress of place Ratings
0                 Tin Cup Sports Grill     1540 N Service Rd W     8.6
1                      The King's Arms           323 Church St     8.6
2       Beertown Public House Oakville         271 Cornwall Rd     8.2
3   Beertown Public House - Burlington      2050K Appleby Line     8.4
4                       The Stout Monk         478 Dundas St W     7.9
5           Q B Sports Bar Grill Games        4460 Fairview St     8.2
6                   The Moonshine Cafe             137 Kerr St     7.8
7                         Judge & Jury      1222 Walker's Line     8.2
8                         Queen's Head             118 Dunn St     7.6
9                 Tin Cup Sports Grill      1831 Walker's Line     7.8
10                  Aroma Espresso Bar      321 Lakeshore Rd E     7.5
11                        Sunset Grill           266 Hays Blvd     7.2
12                      Bru Restaurant      138 Lakeshore Rd E     7.2
13               Chop Steakhouse & Bar     3451 S Service Rd W     6.9
14               Abbey Arms Restaurant      481 N Service Rd W     6.6
15        Monaghans Sports Pub & Grill    1289 Marlborough Crt     6.7
16                  Buffalo Wild Wings       2501 Hyde Pk Gate     6.8
17                      Al-Omda Lounge        3100 Ridgeway Dr     6.6
18              Turtle Jack's Oakville         360 Dundas St E     6.3
19               Bronte Sports Kitchen          2544 Speers Rd     5.9
20                        Boston Manor        4460 Fairview St     6.2
21                  Zagros Grill House            649 4th Line    -1.0
22      The Royal Windsor Pub & Eatery             610 Ford Dr     6.1
23                     Less Than Level             381 Kerr St    -1.0
24                        The Wine Bar           100 Bronte Rd    -1.0
25                         The Marquee       1430 Trafalgar Rd    -1.0
26                          Black Swan         3420 Rebecca St    -1.0
27              The Pipes and Taps Pub       231 Oak Park Blvd    -1.0
28                    Midnight Madness      276 Lakeshore Rd E    -1.0
29               Corks Beer & Wine Bar         469 Cornwall Rd    -1.0
30           The Oakville Pump & Patio  1011 Upper Middle Rd E    -1.0
31             Clancy's Food, Ale, Fun        4490 Fairview St    -1.0
32                       Uptown Tavern      1900 Walker's Line    -1.0
33                        The Slye Fox             4057 New St    -1.0
34                     GameTime Social       3330 S Service Rd    -1.0
35              Windjammer by the Lake       5353 Lakeshore Rd     4.9
36                 Rohit's Martini Bar      2077 Kingsridge Dr    -1.0
37                Trafalgar Brewing Co          1156 Speers Rd    -1.0
38          The Wine Makers Shoppe Inc        495 Pinegrove Rd    -1.0
39                        Fuzz Wax Bar         321 Cornwall Rd    -1.0
40                  Rum Shop Test Page      212 Beechtree Cres    -1.0
41                 The Living Vine Inc        1391 Hastings Rd    -1.0
42                  Playbar Burlington       4170 S Service Rd    -1.0
43                            Play Bar       4170 S Service Rd    -1.0
44       Splash Nightclub & Restaurant       4170 S Service Rd    -1.0
45            Jack Astor's Bar & Grill        3537 Fairview St    -1.0
46          Lodestar Freight Solutions     2904 S Sheridan Way    -1.0

# Yelp

Send a request with the same location paramaters (location, radius, etc)

In [15]:

url = "https://api.yelp.com/v3/businesses/search?latitude=43.433650&longitude=-79.735260&radius=10000&categories=bars&limit=50"
#URl for Yelps api, searching at the position ive chosen within a radius 10k meters for bars with a limit of 50 bars as that is the max


headers = {
    "Accept": "application/json",
    "Authorization": "Bearer hVKpD9jm3UqfGbwwaz93KBpJ490b3sjPf9B21J-yew115Ayp1Gt8CSigc5l_kQglRTt4244RPIbeq9HJvMKJ__b4t8oJHOz14OsEFimLPK_3NNdsNUw3aR1LHEbsYnYx"  
  
}#Real key used as could not get os.environ.get('YELP_KEY') to work with the Bearing that must be included Yelp's Authorization

response = requests.get(url, headers=headers)

ye = response.json()  #Convert response to json format for parsing
response

Parse through your result and get POI details

In [16]:
ye_name_list = []   #Creating an emppty list to place values into
for names in range(len(ye["businesses"])):
    toadd = ye["businesses"][names]["name"]
    ye_name_list.append(toadd)

In [17]:
ye_rate_list = []   #Creating an emppty list to place values into
for rates in range(len(ye["businesses"])):
    toaddrate =  ye["businesses"][rates]["rating"]
    toaddnorm = toaddrate*2   #Yelp Scores out of 5 compared to FourSquares 10 so we double to normalize both
    ye_rate_list.append(toaddnorm)

In [18]:
ye_addr_list = []   #Creating an emppty list to place values into
for adds in range(len(ye["businesses"])):
    toadd =  ye["businesses"][adds]["location"]['address1']
    ye_addr_list.append(toadd)

Put your parsed results into a DataFrame

In [19]:
YelpPlaces = pd.DataFrame(np.column_stack([ye_name_list, ye_addr_list , ye_rate_list]), #Combinging the pulled lists from before into 1 dataframe
                               columns=['Name of place', 'Adress of place' , 'Ratings'])

In [20]:
comb = pd.concat([YelpPlaces,FourSquarePlaces])

In [21]:
comb.sort_values("Ratings" )

                            Name of place        Adress of place Ratings
46             Lodestar Freight Solutions    2904 S Sheridan Way    -1.0
45               Jack Astor's Bar & Grill       3537 Fairview St    -1.0
21                     Zagros Grill House           649 4th Line    -1.0
23                        Less Than Level            381 Kerr St    -1.0
24                           The Wine Bar          100 Bronte Rd    -1.0
..                                    ...                    ...     ...
26  The Keg Steakhouse + Bar - Burlington      3130 S Service Rd     9.0
7                              Barra Fion       1505 Guelph Line     9.0
4       Buca Di Bacco Ristorante Italiano      130 Thomas Street     9.0
15            Firehall Cool Bar Hot Grill  2390 Lakeshore Road W     9.0
2                         Rust Bistro Bar      1801 Walkers Line     9.0

[97 rows x 3 columns]

# Google (stretch)

Use the same process as the first two APIs

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [22]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [23]:
connection = create_connection("mini_pro_2_database.sqlite")   #Creating a database to place our dataframes into

Connection to SQLite DB successful

In [24]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [25]:
Combine = comb.to_sql("Yelp_Four_Reviews" , sqlite3.Connection("mini_pro_2_database.sqlite") , if_exists = "replace")   #Putting the combined dataframe into the database directly

In [26]:
Call = """SELECT * FROM Yelp_Four_Reviews
order by CAST (RATINGS AS INTEGER) DESC LIMIT 10;"""

Get the top 10 restaurants according to their rating

In [28]:
#using """SELECT * FROM Yelp_Four_Reviews
#order by CAST (RATINGS AS INTEGER) DESC LIMIT 10;"""# Must cast ratings as integers as SQLite for some casts the 10.0's alphbetically and places them at bottom of list otherwise
#in VS code

#we see that top 10 bars accoring to ratings are 
#7 Spice 10.0
#Loondocks 10.0
#Rust Bistro Bar 9.0
#Buca Di Bacco Ristorante Italiano 9.0
#Barra Fion 9.0
#Firehall Cool Bar Hot Grill 9.0
#The Keg Steakhouse + Bar 9.0
#Bru Restaurant8.0
#The Pipes & Taps Pub 8.0
#Borgo Antico Cucina Bar 8.0

# Travelling Salesman Problem (stretch)

If you have time, follow the steps in the [ortools tutorial](https://developers.google.com/optimization/routing/tsp) using Google's [Directions API](https://developers.google.com/maps/documentation/directions/start).